div {

    
    
}
body {
    background-color: rgba(255, 166, 0, 0.336);
    font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  }

  #myBtn {
    display: ;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: orangered;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: orange;
  }


.soul.food{

height:auto;

width: 400px;
border: 1px solid black;

}

/*this section is for changing image elements and attributes*/
.greens{

    height:auto;
     width: 500px;
    border: 1px solid black;
    
    }
.chicken{

    height:auto;
     width: 500px;
    border: 1px solid black;
    
    }

.mac{

    height:auto;
     width: 500px;
    border: 1px solid black;
    
    }

     .container {
        text-align: center;
        color:black
      }
      
      ul.myUL {
        display: inline-block;
        text-align: left;
      }



