div {

    
    
}
body {
    background-color: rgba(255, 166, 0, 0.336);
    font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  }

  

.soul.food{

height:auto;

width: 400px;
border: 1px solid black;

}

/*this section is for changing image elements and attributes*/
.greens{

    height:auto;
     width: 300px;
    border: 1px solid black;
    
    }
.chicken{

    height:auto;
     width: 300px;
    border: 1px solid black;
    
    }

.mac{

    height:auto;
     width: 300px;
    border: 1px solid black;
    
    }

     .container {
        text-align: center;
        color:black
      }
      
      ul.myUL {
        display: inline-block;
        text-align: left;
      }
      .pie{

        height:auto;
         width: 300px;
        border: 1px solid black;
        
        }
    
         .container {
            text-align: center;
            color:black
          }
          
          ul.myUL {
            display: inline-block;
            text-align: left;
          }

          .soul.food{

            height:auto;
            
            width: 400px;
            border: 1px solid black;
            
            }

