div {

    
    
}
body {
    background-color: rgba(255, 166, 0, 0.336);
  }


.soul.food{

height:auto;

width: 400px;
border: 1px solid black;

}

/*this section is for changing image elements and attributes*/
.chicken{

    height:auto;
     width: 500px;
    border: 1px solid black;
    
    }

.mac{

    height:auto;
     width: 500px;
    border: 1px solid black;
    
    }

     .container {
        text-align: center;
        color:black
      }
      
      ul.myUL {
        display: inline-block;
        text-align: left;
      }



